@using Microsoft.AspNetCore.Identity
@using eVoter.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}



<main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome to eVoter</h1>
    <p class="lead">eVoter is a voting system that wllows users to signup and vote for their favorite candidate</p>
    <p class="lead">
        @if (SignInManager.IsSignedIn(User))
{
        <a asp-controller="Candidate" asp-action="Index" class="btn btn-primary">
           Vote Now
        </a>
}else{
            <a  href="/Identity/Account/Login" class="btn btn-primary">
                Login to Vote
            </a>
}

    </p>
</main>
   
