@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Home Page";
}



<main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome to eVoter</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
        @if (SignInManager.IsSignedIn(User))
{
        <a asp-controller="Candidate" asp-action="Index" class="btn btn-primary">
           Vote Now
        </a>
}else{
            <a  href="/Identity/Account/Login" class="btn btn-primary">
                Login to Vote
            </a>
}

    </p>
</main>
   
